body,
html {
  font-family: Mulish;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

table {
  th {
    font-weight: 700;
  }
}

// Vuetify
.v-btn {
  // Prevent automatically capitalizing button text (can be reversed by adding 'text-uppercase' class)
  text-transform: none;
}
